{% extends "base.html" %}

{% block content %}
<div class="well">

	<div class="details">
		<div class="panel panel-default">
			
				<div class="panel-body">
					<label >Title:</label><br />
					
					{{post.title}}
					
				</div>
				
				<div class="panel-body">
					<label >Text:</label><br />
					{{post.body}}
				</div>
				<div class="panel-body">
					<label >Created at:</label><br />
					{{post.created_at}}
				</div>
				<div class="panel-body">
					<a href="{% url 'post_edit' post.id %}">
						<button class="btn btn-info">Edit</button>
					</a>
				</div>
		</div>	
	</div>
	
</div>

</div>

{% endblock content %}